body{
    font-family: 'futura' #2A3132;
    background: rgb(82, 52, 0);
  }
  #contenedor{
    width: 100%;
    max-width: 961.5px;
    margin: 0 auto;
    
  }
  h1{
    font-family: 'futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    border-style: none;
    border: 5px;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nuevo{
    font-family: 'futura';
  }
  .menu{
    font-family: 'futura';
    list-style: none;
    padding: 0px;
    background: #2a3132;
    width: auto;
    height: auto;
    max-width: 958px;
    margin-bottom: 40px;
    justify-content: center;
  }
  .menu li a{
     text-decoration: none;
     color: white;
     padding: 35px;
     display: block;
  }
  .menu li{
    display: inline-block;
    
  }
  .menu li a:hover{
    background: #336b87;
  
}
.centrar{
    font-family: 'futura';
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "ENCABEZADO ENCABEZADO"
      "FORMULARIO FORMULARIO"
      "FORMULARIO FORMULARIO"
      "PIE-DE-PAGINA PIE-DE-PAGINA";
  }
  
  #ENCABEZADO { grid-area: ENCABEZADO;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center; 
    background: #90AFC5;
    }
  
  #FORMULARIO { grid-area: FORMULARIO; }
  
  #PIE-DE-PAGINA { grid-area: PIE-DE-PAGINA;
    background: #90AFC5; }
  /*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
.img1{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.img2{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img3{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.maschico{
    width: 400px;
    height: 230px;
}
.icon{
    height: 50px;
    width: 50px;
}
.align{
    display: inline-flex;
    flex-direction: row-reverse;
    align-content: center;
}
.border{
  border: 2px solid #2A3132;
}
.boton{
    font-family: 'futura';
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
form{
    padding: 5%;
    margin: 10%;
    border-style: groove;
    border-color: #2a3132;
    border-radius: 20px;
    background: #90AFC5;
    
    
}
/*HASTA ACA ES TODO LO DEL FOOTER*/
/*COMIENZA RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 985px) {
  .menu{
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: bottom;
  }
  .menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
  }
}