body{
    font-family: 'futura' #2A3132;
    background: rgb(82, 52, 0);
  }
#contenedor{
  width: 100%;
  max-width: 961.5px;
  margin: 0 auto;
  
}
  h1{
    font-family: 'futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    border-style: none;
    border: 5px;
    width: 100%;
    height: 150px;
    padding-top: 20px;
    margin: 1%;
    text-align: center;
  }
  .nuevo{
    font-family: 'futura';
  }
  .text{
    padding-left: 40px;
    padding-right: 40px;
  }
  .menu{
    font-family: 'futura';
    list-style: none;
    padding: 0;
    background: #2a3132;
    width: auto;
    height: auto;
    max-width: 958px;
    margin: auto;
    justify-content: center;
  }
  .menu li a{
     text-decoration: none;
     color: white;
     padding: 35px;
     display: block;
  }
  .menu li{
    display: inline-block;
    
  }
  .menu li a:hover{
    background: #336b87;
  
}
.centrar{
    font-family: 'futura';
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: left;
    padding: 30px;
    margin: 30px;
    
}
/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
#container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "Encabezado Encabezado Encabezado Encabezado"
      "Contenido1 Contenido1 Contenido1 Publicidad"
      "Contenido2 Contenido2 Contenido2 Publicidad"
      "Contenido3 Contenido3 Contenido3 Publicidad"
      "Pie-de-pagina Pie-de-pagina Pie-de-pagina Pie-de-pagina";
  }
  
  #Pie-de-pagina { grid-area: Pie-de-pagina; 
    background: #90AFC5;}
  
  #Encabezado { grid-area: Encabezado;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center; 
    background: #90AFC5;
 }
  
  #Publicidad { grid-area: Publicidad;
    background: #90AFC5; }
  
  #Contenido1 {
    grid-area: Contenido1;
    background: #90AFC5;
    
  }
  .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.8fr;
  grid-auto-columns: 1fr;
  gap: 10px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo titulo titulo"
    "contenido contenido contenido"
    "contacto contacto contacto";
}

.titulo { grid-area: titulo; }

.contenido { grid-area: contenido; }

.contacto { grid-area: contacto; }

  
  .Compra1 { grid-area: Compra1; }
  
  #Contenido2 { 
    grid-area: Contenido2;
    background: #90AFC5;
  }
  
  .Compra2 { grid-area: Compra2; }
  
  #Contenido3 { 
    grid-area: Contenido3;
    background: #90AFC5;
  }
  
  .Compra3 { grid-area: Compra3; }
  
/*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
.img1{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.img2{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img3{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.maschico{
    width: 400px;
    height: 230px;
}
.icon{
    height: 50px;
    width: 50px;
}
.align{
    display: inline-flex;
    flex-direction: row-reverse;
    align-content: center;
}
.border{
  border: 2px solid #2A3132;
}
.boton{
    font-family: 'futura';
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/*HASTA ACA ES TODO LO DEL FOOTER*/
/*COMIENZA EL RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 985px) {
  .menu{
    margin-top: 155px;
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: bottom;
  }
  .menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
  }
  #container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    height: 100%;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
    "Encabezado Encabezado Encabezado Encabezado"
    "Contenido1 Contenido1 Contenido1 Contenido1"
    "Contenido2 Contenido2 Contenido2 Contenido2"
    "Contenido3 Contenido3 Contenido3 Contenido3"
    "Pie-de-pagina Pie-de-pagina Pie-de-pagina Pie-de-pagina";
  }
  #Publicidad{
    display: none;
  }
  #Contenido1{
    margin: 0%;
    padding: 20%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
}
