body{
  font-family: 'Times New Roman' #2A3132;
  background: rgb(82, 52, 0);
}
#contenedor{
  width: 100%;
  max-width: 965px;
  margin: 0 auto;
  
}
h1{
  font-family: 'futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
  border-style: none;
  border: 5px;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.menu{
  font-family: 'futura';
  list-style: none;
  padding: 0;
  background: #2a3132;
  width: auto;
  height: auto;
  margin: auto;
}
.menu li a{
   text-decoration: none;
   color: white;
   padding: 35px;
   display: block;
}
.menu li{
  display: inline-block;
  
}
.menu li a:hover{
  background: #336b87;

}
/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
.nuevo{
  display: block;
  border-style: none;
  border: 5px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center;
}
.container {  display: grid;
    grid-template-columns: 50% 1.5fr 0.5fr;
    grid-template-rows:1fr 1fr 1fr 2fr 0.01fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "Encabezado Encabezado Encabezado"
      "sector sector Publicidad"
      "Productos Productos Publicidad"
      "Productos Productos Publicidad"
      "Pie-de-pagina Pie-de-pagina Pie-de-pagina";
  }
  #sector{ 
    grid-area: sector;
    background: #90AFC5;
  }
  #Publicidad { 
    grid-area: Publicidad;
    background: #90AFC5;
     }
  
  #Encabezado { 
    grid-area: Encabezado; 
    background: #90AFC5;}
  
  #Pie-de-pagina { 
    grid-area: Pie-de-pagina; 
    background: #90AFC5;
  }
  #Productos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Sectores Sectores Sectores"
      "Paginas-Web Paginas-Web Paginas-Web"
      "Comunicacion Comunicacion Comunicacion"
      "Redes-sociales Redes-sociales Redes-sociales";
    grid-area: Productos;
    background: #90AFC5;
  }
  .margen{
    font-family: 'futura';
    padding: 10px;
    margin: 10px;
  }
  #descripcion{grid-area: Descripcion;}

  .Sectores{ grid-area: Sectores;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    height: 160%; }

  .Paginas-Web { grid-area: Paginas-Web; }
  
  .Comunicacion { grid-area: Comunicacion; }
  
  .Redes-sociales { grid-area: Redes-sociales; }
  /*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
  /*todo sobre el FOOTER*/
  .img1{
      padding: 30px;
      margin: 30px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
  .img2{
      padding: 30px;
      margin: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .img3{
      padding: 30px;
      margin: 30px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
  .maschico{
      width: 400px;
      height: 230px;
  }
  .icon{
      height: 50px;
      width: 50px;
  }
  .align{
      display: inline-flex;
      flex-direction: row-reverse;
      align-content: center;
  }
  .border{
    border: 2px solid #2A3132;
  }
  /*HASTA ACA ES TODO LO DEL FOOTER*/
  /*COMIENZA RESPONSIVE PARA CELULAR*/
  @media screen and (max-width: 965px) {
    /*COMIENZA RESPONSIVE GENERAL*/
    .menu{
      margin-top: 80px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: bottom;
    }
    .menu li a{
      text-decoration: none;
      color: white;
      padding: 15px;
      display: block;
    }
    .container {  display: grid;
      grid-template-columns: 50% 1.5fr 0.5fr;
      grid-template-rows:1fr auto auto auto 0.01fr;
      gap: 5px 5px;
      grid-auto-flow: row;
      grid-template-areas:
        "Encabezado Encabezado Encabezado"
        "sector sector sector"
        "Productos Productos Productos"
        "Productos Productos Productos"
        "Pie-de-pagina Pie-de-pagina Pie-de-pagina";
    }
    /*TERMINA RESPONSIVE GENERAL*/
    /*COMIENZA "NUESTROS SECTORES"*/
    #sector{ display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: auto;
      font-size: 18px;

    }
    /*TERMINA "NUESTROS SECTORES"*/
    #Publicidad{
      display: none;
    }
    #Producto{display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "Sectores Sectores Sectores"
        "Paginas-Web Paginas-Web Paginas-Web"
        "Comunicacion Comunicacion Comunicacion"
        "Redes-sociales Redes-sociales Redes-sociales";
      grid-area: Productos;
      background: #90AFC5;
    
    }
    .Sectores{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 150%;
    }
    #Pie-de-pagina{
      width: 100%;
    }
    #Encabezado{
      width: 100%;
    }
    /*TERMINA EL RESPONSIVE PARA CELULAR*/
  }