body{
    font-family: 'futura' #2A3132;
    background: rgb(82, 52, 0);
  }
  #contenedor{
    width: 100%;
    max-width: 961.5px;
    margin: 0 auto;
    
  }
  h1{
    font-family: 'futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    border-style: none;
    border: 5px;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nuevo{
    font-family: 'futura';
  }
  .menu{
    font-family: 'futura';
    list-style: none;
    padding: 0;
    background: #2a3132;
    width: auto;
    height: auto;
    max-width: 958px;
    margin: auto;
    justify-content: center;
  }
  .menu li a{
     text-decoration: none;
     color: white;
     padding: 35px;
     display: block;
  }
  .menu li{
    display: inline-block;
    
  }
  .menu li a:hover{
    background: #336b87;
  
}
.centrar{
    font-family: 'futura';
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
#container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "Encabezado Encabezado Encabezado Encabezado"
      "Contenido1 Contenido1 Contenido1 Publicidad"
      "Contenido2 Contenido2 Contenido2 Publicidad"
      "Contenido3 Contenido3 Contenido3 Publicidad"
      "Contenido4 Contenido4 Contenido4 Publicidad"
      "Pie-de-pagina Pie-de-pagina Pie-de-pagina Pie-de-pagina";
  }
  
  #Pie-de-pagina { grid-area: Pie-de-pagina; 
  background: #90AFC5;}
  
  #Encabezado { grid-area: Encabezado;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center; 
    background: #90AFC5; }
  
  #Publicidad { grid-area: Publicidad;
    background: #90AFC5; }
  
  #Contenido1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info11 info12 info13"
      "info11 info12 info13"
      "info11 info12 info13";
    grid-area: Contenido1;
    background: #90AFC5;
  }
  
  .info11 { grid-area: info11; }
  
  .info12 { grid-area: info12;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center; }
  
  .info13 { grid-area: info13; 
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center; }
  
  #Contenido2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info21 info22 info23"
      "info21 info22 info23"
      "info21 info22 info23";
    grid-area: Contenido2;
    background: #90AFC5;
  }
  
  .info21 { grid-area: info21; }
  
  .info22 { grid-area: info22;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;  }
  
  .info23 { grid-area: info23;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;  }
  
  #Contenido3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info31 info32 info33"
      "info31 info32 info33"
      "info31 info32 info33";
    grid-area: Contenido3;
    background: #90AFC5;
  }
  
  .info31 { grid-area: info31; }
  
  .info32 { grid-area: info32;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;  }
  
  .info33 { grid-area: info33;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;  }
  
  #Contenido4 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info41 info42 info43"
      "info41 info42 info43"
      "info41 info42 info43";
    grid-area: Contenido4;
    background: #90AFC5;
  }
  
  .info41 { grid-area: info41; }
  
  .info42 { grid-area: info42;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;  }
  
  .info43 { grid-area: info43;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;  }
/*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
  .img1{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.img2{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img3{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.maschico{
    width: 400px;
    height: 230px;
}
.icon{
    height: 50px;
    width: 50px;
}
.align{
    display: inline-flex;
    flex-direction: row-reverse;
    align-content: center;
}
.border{
  border: 2px solid #2A3132;
}
.boton{
    font-family: 'futura';
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/*HASTA ACA ES TODO LO DEL FOOTER*/
/*COMIENZA EL RESPONSIVE DEL CELULAR*/
@media screen and (max-width: 985px) {
  .menu{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: bottom;
  }
  .menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
  }
  #container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 10px 5px;
    height: auto;
    width: auto;
    grid-auto-flow: row;
    grid-template-areas:
      "Encabezado Encabezado Encabezado Encabezado"
      "Contenido1 Contenido1 Contenido1 Contenido1"
      "Contenido2 Contenido2 Contenido2 Contenido2"
      "Contenido3 Contenido3 Contenido3 Contenido3"
      "Contenido4 Contenido4 Contenido4 Contenido4"
      "Pie-de-pagina Pie-de-pagina Pie-de-pagina Pie-de-pagina";
  }
  #Publicidad{
    display: none;
  }
  #Contenido1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    width: auto;
    grid-auto-flow: row;
    grid-template-areas:
      "info11 info11 info11 info11"
      "info11 info11 info11 info11"
      "info12 info12 info13 info13";
    grid-area: Contenido1;
    background: #90AFC5;
  }
  #Contenido2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info21 info21 info21 info21"
      "info21 info21 info21 info21"
      "info22 info22 info23 info23";
    grid-area: Contenido2;
    background: #90AFC5;
  }
  #Contenido3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info31 info31 info31 info31"
      "info31 info31 info31 info31"
      "info32 info32 info33 info33";
    grid-area: Contenido3;
    background: #90AFC5;
  }
  #Contenido4 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info41 info41 info41 info41"
      "info41 info41 info41 info41"
      "info42 info42 info43 info43";
    grid-area: Contenido4;
    background: #90AFC5;
  }
}