.boton {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center; }

h1 {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  border-style: none;
  border: 5px;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
  text-align: center; }

.img1 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }

.img2 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.img3 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }

.maschico {
  width: 400px;
  height: 230px; }

.icon {
  height: 50px;
  width: 50px; }

.align {
  display: inline-flex;
  flex-direction: row-reverse;
  align-content: center; }

.border {
  border: 2px solid #2A3132; }

.menu {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  padding: 0px;
  background: #2A3132;
  width: auto;
  height: auto;
  max-width: 958px;
  margin-bottom: 40px;
  justify-content: center; }
  .menu li a {
    text-decoration: none;
    color: white;
    padding: 35px;
    display: block; }
  .menu li {
    display: inline-block; }
  .menu li a:hover {
    background: #336b87; }

body {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif #2A3132;
  background: #523400; }

#contenedor {
  width: 100%;
  max-width: 965px;
  margin: 0 auto; }

h1 {
  margin-top: 80px; }

.nuevo {
  display: block;
  border-style: none;
  border: 5px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center; }

.container {
  display: grid;
  grid-template-columns: 50% 1.5fr 0.5fr;
  grid-template-rows: 1.2fr 1fr 1fr 2fr 0.01fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "Encabezado Encabezado Encabezado" "sector sector Publicidad" "Productos Productos Publicidad" "Productos Productos Publicidad" "Pie-de-pagina Pie-de-pagina Pie-de-pagina"; }

#sector {
  grid-area: sector;
  background: #90AFC5; }

#Publicidad {
  grid-area: Publicidad;
  background: #90AFC5; }

#Encabezado {
  grid-area: Encabezado;
  background: #90AFC5; }

#Pie-de-pagina {
  grid-area: Pie-de-pagina;
  background: #90AFC5; }

#Productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Sectores Sectores Sectores" "Paginas-Web Paginas-Web Paginas-Web" "Comunicacion Comunicacion Comunicacion" "Redes-sociales Redes-sociales Redes-sociales";
  grid-area: Productos;
  background: #90AFC5; }

.margen {
  font-family: 'futura';
  padding: 10px;
  margin: 10px; }

#descripcion {
  grid-area: Descripcion; }

.Sectores {
  grid-area: Sectores;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 160%; }

.Paginas-Web {
  grid-area: Paginas-Web; }

.Comunicacion {
  grid-area: Comunicacion; }

.Redes-sociales {
  grid-area: Redes-sociales; }

/*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
#Cambio {
  font-family: 'futura';
  display: flex;
  width: 880px;
  height: 80px;
  color: #2A3132;
  font-size: 80px;
  line-height: 80px;
  position: 50% 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10%;
  overflow: hidden; }

ol {
  list-style: none;
  padding-left: 10px;
  animation: cambio 7s infinite; }

ol, p {
  margin: 0; }

@keyframes cambio {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -80px; }
  50% {
    margin-top: -80px; }
  55% {
    margin-top: -160px; }
  80% {
    margin-top: -160px; }
  85% {
    margin-top: -80px; }
  95% {
    margin-top: -80px; }
  100% {
    margin-top: 0; } }

/*HASTA ACA ES TODO LO DEL FOOTER*/
/*COMIENZA RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 965px) {
  /*COMIENZA RESPONSIVE GENERAL*/
  .menu {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: bottom; }
  .menu li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block; }
  .container {
    display: grid;
    grid-template-columns: 50% 1.5fr 0.5fr;
    grid-template-rows: 1fr auto auto auto 0.01fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "Encabezado Encabezado Encabezado" "sector sector sector" "Productos Productos Productos" "Productos Productos Productos" "Pie-de-pagina Pie-de-pagina Pie-de-pagina"; }
  /*TERMINA RESPONSIVE GENERAL*/
  /*COMIENZA "NUESTROS SECTORES"*/
  #sector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 18px; }
  /*TERMINA "NUESTROS SECTORES"*/
  #Publicidad {
    display: none; }
  #Producto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Sectores Sectores Sectores" "Paginas-Web Paginas-Web Paginas-Web" "Comunicacion Comunicacion Comunicacion" "Redes-sociales Redes-sociales Redes-sociales";
    grid-area: Productos;
    background: #90AFC5; }
  .Sectores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 150%; }
  #Pie-de-pagina {
    width: 100%; }
  #Encabezado {
    width: 100%; } }

@media screen and (max-width: 1024px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 850px;
    height: 70px;
    color: #2A3132;
    font-size: 70px;
    line-height: 70px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -70px; }
    50% {
      margin-top: -70px; }
    55% {
      margin-top: -140px; }
    80% {
      margin-top: -140px; }
    85% {
      margin-top: -70px; }
    95% {
      margin-top: -70px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }

@media screen and (max-width: 930px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 870px;
    height: 60px;
    color: #2A3132;
    font-size: 60px;
    line-height: 60px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -60px; }
    50% {
      margin-top: -60px; }
    55% {
      margin-top: -120px; }
    80% {
      margin-top: -120px; }
    85% {
      margin-top: -60px; }
    95% {
      margin-top: -60px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }

@media screen and (max-width: 768px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 690px;
    height: 50px;
    color: #2A3132;
    font-size: 50px;
    line-height: 50px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -50px; }
    50% {
      margin-top: -50px; }
    55% {
      margin-top: -100px; }
    80% {
      margin-top: -100px; }
    85% {
      margin-top: -50px; }
    95% {
      margin-top: -50px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }

@media screen and (max-width: 670px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 610px;
    height: 40px;
    color: #2A3132;
    font-size: 40px;
    line-height: 40px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -40px; }
    50% {
      margin-top: -40px; }
    55% {
      margin-top: -80px; }
    80% {
      margin-top: -80px; }
    85% {
      margin-top: -40px; }
    95% {
      margin-top: -40px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }

@media screen and (max-width: 536px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 474px;
    height: 35px;
    color: #2A3132;
    font-size: 35px;
    line-height: 35px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -35px; }
    50% {
      margin-top: -35px; }
    55% {
      margin-top: -70px; }
    80% {
      margin-top: -70px; }
    85% {
      margin-top: -35px; }
    95% {
      margin-top: -35px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }

@media screen and (max-width: 425px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 370px;
    height: 30px;
    color: #2A3132;
    font-size: 30px;
    line-height: 30px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -30px; }
    50% {
      margin-top: -30px; }
    55% {
      margin-top: -60px; }
    80% {
      margin-top: -60px; }
    85% {
      margin-top: -30px; }
    95% {
      margin-top: -30px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }

@media screen and (max-width: 390px) {
  #Cambio {
    font-family: 'futura';
    display: flex;
    width: 285px;
    height: 25px;
    color: #2A3132;
    font-size: 25px;
    line-height: 25px;
    position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10%;
    overflow: hidden; }
  ol {
    list-style: none;
    padding-left: 10px;
    animation: cambio 7s infinite; }
  ol, p {
    margin: 0; }
  @keyframes cambio {
    0% {
      margin-top: 0; }
    20% {
      margin-top: 0; }
    25% {
      margin-top: -25px; }
    50% {
      margin-top: -25px; }
    55% {
      margin-top: -50px; }
    80% {
      margin-top: -50px; }
    85% {
      margin-top: -25px; }
    95% {
      margin-top: -25px; }
    100% {
      margin-top: 0; } }
  /*TERMINA EL RESPONSIVE PARA CELULAR*/ }
