.boton {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center; }

h1 {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  border-style: none;
  border: 5px;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
  text-align: center; }

.img1 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }

.img2 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.img3 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }

.maschico {
  width: 400px;
  height: 230px; }

.icon {
  height: 50px;
  width: 50px; }

.align {
  display: inline-flex;
  flex-direction: row-reverse;
  align-content: center; }

.border {
  border: 2px solid #2A3132; }

.menu {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  padding: 0px;
  background: #2A3132;
  width: auto;
  height: auto;
  max-width: 958px;
  margin-bottom: 40px;
  justify-content: center; }
  .menu li a {
    text-decoration: none;
    color: white;
    padding: 35px;
    display: block; }
  .menu li {
    display: inline-block; }
  .menu li a:hover {
    background: #336b87; }

body {
  font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif #2A3132;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-blanco-hexagono-tecnologia-azul_1017-19366.jpg?w=1380&t=st=1666863522~exp=1666864122~hmac=a6b2867326108da671522ed5803a3391ce701bd149c05e3d8a4743d63102af63); }

#contenedor {
  width: 100%;
  max-width: 961.5px;
  margin: 0 auto; }

.text {
  padding-left: 40px;
  padding-right: 40px; }

h1 {
  padding-top: 20px;
  margin: 1%; }

.centrar {
  font-family: 'futura';
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: left;
  padding: 30px;
  margin: 30px; }

/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 10px 5px;
  grid-auto-flow: row;
  grid-template-areas: "Encabezado Encabezado Encabezado Encabezado" "Contenido1 Contenido1 Contenido1 Publicidad" "Contenido2 Contenido2 Contenido2 Publicidad" "Contenido3 Contenido3 Contenido3 Publicidad" "Pie-de-pagina Pie-de-pagina Pie-de-pagina Pie-de-pagina"; }

#Pie-de-pagina {
  grid-area: Pie-de-pagina;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-concepto-big-data-conexion-red-wireframeshapes-abstracto-poligonal-linea-punto_90220-496.jpg?w=1800&t=st=1666867872~exp=1666868472~hmac=e41dbb27c95b9d0aacde3fd16d41c382e2c8f3ad5a6c1f221b9e5a45f4e082b0);
  background-size: 100%;
  background-position: center; }

#Encabezado {
  grid-area: Encabezado;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-concepto-big-data-conexion-red-wireframeshapes-abstracto-poligonal-linea-punto_90220-496.jpg?w=1800&t=st=1666867872~exp=1666868472~hmac=e41dbb27c95b9d0aacde3fd16d41c382e2c8f3ad5a6c1f221b9e5a45f4e082b0);
  background-size: 100%;
  background-position: center; }

#Publicidad {
  grid-area: Publicidad;
  background-color: #f3f4f4;
  background-image: url(https://www.seekpng.com/png/detail/272-2727899_coming-soon-banner-transparent.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center; }

#Contenido1 {
  grid-area: Contenido1;
  background: #90AFC5; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.8fr;
  grid-auto-columns: 1fr;
  gap: 10px 5px;
  grid-auto-flow: row;
  grid-template-areas: "titulo titulo titulo" "contenido contenido contenido" "contacto contacto contacto"; }

.titulo {
  grid-area: titulo; }

.contenido {
  grid-area: contenido; }

.contacto {
  grid-area: contacto; }

.Compra1 {
  grid-area: Compra1; }

#Contenido2 {
  grid-area: Contenido2;
  background: #90AFC5; }

.Compra2 {
  grid-area: Compra2; }

#Contenido3 {
  grid-area: Contenido3;
  background: #90AFC5; }

.Compra3 {
  grid-area: Compra3; }

/*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
/*COMIENZA EL RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 985px) {
  .menu {
    margin-top: 155px;
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: bottom; }
  .menu li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block; }
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    height: 100%;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas: "Encabezado Encabezado Encabezado Encabezado" "Contenido1 Contenido1 Contenido1 Contenido1" "Contenido2 Contenido2 Contenido2 Contenido2" "Contenido3 Contenido3 Contenido3 Contenido3" "Pie-de-pagina Pie-de-pagina Pie-de-pagina Pie-de-pagina"; }
  #Publicidad {
    display: none; }
  #Contenido1 {
    margin: 0%;
    padding: 20%;
    margin-bottom: 0%;
    padding-bottom: 0%; } }
