@import "_body";
@import "_h1";
@import "_menu";
@import "_footer";
@import "colores";
@import "_tipografia";
#contenedor{
    width: 100%;
    max-width: 961.5px;
    margin: 0 auto;
    
  }
  .espacio{
    font-family: 'futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    border-style: none;
    border: 5px;
    height: 150px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  h1{
    height: auto;
    padding: 0;
    margin: 0;

  }
  .centrar{
    font-family: 'futura';
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
.container {  display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "Encabezado Encabezado Encabezado"
      "Publicaciones Publicaciones Publicidad"
      "Marca Marca Publicidad"
      "Feed Feed Publicidad"
      "Pie-de-pagina Pie-de-pagina Pie-de-pagina";
  }
  
  #Encabezado { grid-area: Encabezado;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center; 
    background: $color_de_grids;}
  
  #Publicidad { 
    grid-area: Publicidad; 
    background: $color_de_grids;
}
  
  #Pie-de-pagina { grid-area: Pie-de-pagina; 
    background: $color_de_grids;}
  
  #Publicaciones {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Contenido1 Contenido1 info1"
      "Contenido1 Contenido1 info1"
      "Contenido1 Contenido1 info1";
    grid-area: Publicaciones;
    background: $color_de_grids;
  }
  
  .Contenido1 { 
    grid-area: Contenido1;
    padding: 4%;
    margin: 4%;
 }
  
  .info1 { grid-area: info1; 
    padding: 8%;
    margin: 4%;}
  
  #Marca {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Contenido2 Contenido2 info2"
      "Contenido2 Contenido2 info2"
      "Contenido2 Contenido2 info2";
    grid-area: Marca;
    background: $color_de_grids;
  }
  
  .Contenido2 { 
    grid-area: Contenido2;
    padding: 4%;
    margin: 4%;
    }
  
  .info2 { 
    grid-area: info2;
    padding: 8%;
    margin: 4%; }
  
  #Feed {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Contenido3 Contenido3 info3"
      "Contenido3 Contenido3 info3"
      "Contenido3 Contenido3 info3";
    grid-area: Feed;
    background: $color_de_grids;
  }
  
  .Contenido3 { 
    grid-area: Contenido3;
    padding: 4%;
    margin: 4%;
 }
  
  .info3 { 
    grid-area: info3;
    padding: 8%;
    margin: 4%; }
    /*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
    .img1{
        padding: 30px;
        margin: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .img2{
        padding: 30px;
        margin: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .img3{
        padding: 30px;
        margin: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .maschico{
        width: 400px;
        height: 230px;
    }
    .icon{
        height: 50px;
        width: 50px;
    }
    .align{
        display: inline-flex;
        flex-direction: row-reverse;
        align-content: center;
    }
    .border{
      border: 2px solid $color_de_letras;
    }
    /*HASTA ACA ES TODO LO DEL FOOTER*/
    /*COMIENZA EL RESPONSIVE PARA CELULAR*/ 
    @media screen and (max-width: 985px) {
        .menu{
          margin-top: 80px;
          margin-bottom: 20px;
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          position: bottom;
        }
        .menu li a{
          text-decoration: none;
          color: $color_de_letras_menu;
          padding: 15px;
          display: block;
        }
        /*COMIENZA EL GRRID GENERAL*/
        .container {  display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr auto auto auto 0.01fr;
          grid-auto-columns: 1fr;
          width: auto;
          height: auto;
          gap: 10px 5px;
          grid-auto-flow: row;
          grid-template-areas:
            "Encabezado Encabezado Encabezado"
            "Publicaciones Publicaciones Publicaciones"
            "Marca Marca Marca"
            "Feed Feed Feed"
            "Pie-de-pagina Pie-de-pagina Pie-de-pagina";
        }
        #Publicidad{
          display: none;
        }
        .h1{ display: block;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          height: 0px;
          padding-top: 20px;
          margin: auto;
        }
        .nuevo{
          font-size: 22px;
          padding-top: 0%;
          margin-top: 0;
        }
        .centrar{
          font-size: 22px;
          padding-top: 0px;
          margin-top: 0px;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }
        .cash1{display: grid;
          grid-column-start: auto;
          justify-content: center;
          text-align: center;
          padding-left: 50%;
          padding: right 50%;;
          margin: 100%;
          margin-top: 0%;
          margin-bottom: 0%;
  
        }
        .lol{height: auto;}
        /*FINALIZA EL GRID GENERAL*/
        /*COMIENZA EL GRID DE PUBLICACIONES*/
        #Publicaciones {  display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto auto;
          grid-auto-columns: 1fr;
          gap: 10px 5px;
          grid-auto-flow: row;
          grid-template-areas:
            "Contenido1 Contenido1 Contenido1"
            "info1 info1 info1"
            "cash1 cash1 cash1";
            background: $color_de_grids;
        }
        
        .Contenido1 { grid-area: Contenido1; 
          padding-top: 20px;
  
        }
        
        .info1 { grid-area: info1;
          width: auto;
          height: auto;
          margin-top: 0px;
          padding-top: 0px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        /*FINALIZA EL GRID DE PUBLICACIONES*/
        /*COMIENZA EL GRRID DE MARCA*/
        #Marca {  display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto auto;
          gap: 0px 0px;
          grid-auto-flow: row;
          grid-template-areas:
            "Contenido2 Contenido2 Contenido2"
            "info2 info2 info2"
            "cash1 cash1 cash1";
          grid-area: Marca;
          background: $color_de_grids;
        }
        /*FINALIZA EL GRID DE MARCA*/
        /*COMIENZA EL GRID DE FEED*/
        #Feed {  display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto auto;
          gap: 0px 0px;
          grid-auto-flow: row;
          grid-template-areas:
            "Contenido3 Contenido3 Contenido3"
            "info3 info3 info3"
            "cash1 cash1 cash1";
          grid-area: Feed;
          background: $color_de_grids;
        }
        .info3{
          padding-top: 0%;
          margin-top: 0%;
  
        }
      }