@import "_boton";
@import "_h1";
@import "_footer";
@import "colores";
@import "_menu";
@import "_tipografia";
@import "_body";
#contenedor{
    width: 100%;
    max-width: 961.5px;
    margin: 0 auto;
    
  }
/* HASTA ACA FINALIZA LA PARTE DEL MENU, ESTILO DE LETRAS ETC */
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "ENCABEZADO ENCABEZADO"
      "FORMULARIO FORMULARIO"
      "FORMULARIO FORMULARIO"
      "PIE-DE-PAGINA PIE-DE-PAGINA";
  }
  
  #ENCABEZADO { grid-area: ENCABEZADO;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center; 
    background: $color_de_grids;
    }
  
  #FORMULARIO { grid-area: FORMULARIO; }
  
  #PIE-DE-PAGINA { grid-area: PIE-DE-PAGINA;
    background: $color_de_grids; }
  /*HASTA ACA ES TODO EL CONTENIDO QUE CONTIENE LA PAGINA WEB*/
  form{
    padding: 5%;
    margin: 10%;
    border-style: groove;
    border-color: #2a3132;
    border-radius: 20px;
    background: #90AFC5;
    
    
}
/*COMIENZA RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 985px) {
    .menu{
      margin-top: 80px;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: bottom;
    }
    .menu li a{
      text-decoration: none;
      color: $color_de_letras_menu;
      padding: 15px;
      display: block;
    }
  }